<div>
  <div>
    <img src="../../assets/images/languages_eng.png">
  </div>
  <div>
    <table border="1">
      <tr>
        <th>Language</th>
        <th>Level</th>
        <th>Details</th>
      </tr>
      <tr>
        <td>Portuguese</td>
        <td colspan="2">
          Native Language
        </td>
      </tr>
      <tr>
        <td>English</td>
        <td>C1</td>
        <td>
          <ul>
            <li>School Education</li>
            <li>Self Education</li>
            <li>Self Evaluated</li>
          </ul>
        </td>
      </tr>

    </table>
  </div>
  <div>
    <img src="../../assets/images/programing_languages_eng.png">
  </div>
  <div>
    Programing Languages List
  </div>
  <div>
    <img src="../../assets/images/technologies.png">
  </div>
  <div>
    Programing Languages List
  </div>
  <div>
    <img src="../../assets/images/tools_eng.png">
  </div>
  <div>
    Programing Languages List
  </div>
  <div>
    <img src="../../assets/images/ise.png">
  </div>
  <div>
    Programing Languages List
  </div>
</div>>